body {
    font-size: 18px;
}

a {
    font-size: 18px;
}

.post-summary {
    padding: 1em;
}

.post-summary h2 a {
    text-decoration: underline;
}

a.navbar-item {
    font-size: 20px;
}

#nav {
    margin-top: 1em;
    margin-bottom: 1em;
}


#content h1 {
    font-size: 1.6em;
}
#content h2 {
    font-size: 1.4em;
}
#content h3 {
    font-size: 1.2em;
}
